penman==0.6.2
networkx
sacrebleu
num2words
word2number
overrides
torch==1.3.1
h5py
boto3
pytorch-pretrained-bert==0.6.2
spacy
ftfy
nltk
conllu
pyyaml
pycorenlp
editdistance
bs4
lxml
subword-nmt
setproctitle
filelock
ijson
tokenizers
tensorflow==1.14.0
transformers
tensorboardX
ijson
filelock
scipy
setproctitle
